.idea/
out/
*.iml
*.class
/times.txt
/times_j2.txt
/times_juergen.txt
/training_files/0_0_0_0_0_0.json
/training_files/0_0_0_0_0_1.json
/training_files/0_0_0_0_1_0.json
/training_files/0_0_0_0_1_1.json
/training_files/0_0_0_1_0_0.json
/training_files/0_0_0_1_0_1.json
/training_files/0_0_0_1_1_0.json
/training_files/0_0_0_1_1_1.json
/training_files/0_0_0_2_0_0.json
/training_files/0_0_0_2_0_1.json
/training_files/0_0_0_2_1_0.json
/training_files/0_0_0_2_1_1.json
/training_files/0_0_1_0_0_0.json
/training_files/0_0_1_0_0_1.json
/training_files/0_0_1_0_1_0.json
/training_files/0_0_1_0_1_1.json
/training_files/0_0_1_1_0_0.json
/training_files/0_0_1_1_0_1.json
/training_files/0_0_1_1_1_0.json
/training_files/0_0_1_1_1_1.json
/training_files/0_0_1_2_0_0.json
/training_files/0_0_1_2_0_1.json
/training_files/0_0_1_2_1_0.json
/training_files/0_0_1_2_1_1.json
/training_files/0_1_0_0_0_0.json
/training_files/0_1_0_0_0_1.json
/training_files/0_1_0_0_1_0.json
/training_files/0_1_0_0_1_1.json
/training_files/0_1_0_1_0_0.json
/training_files/0_1_0_1_0_1.json
/training_files/0_1_0_1_1_0.json
/training_files/0_1_0_1_1_1.json
/training_files/0_1_0_2_0_0.json
/training_files/0_1_0_2_0_1.json
/training_files/0_1_0_2_1_0.json
/training_files/0_1_0_2_1_1.json
/training_files/0_1_1_0_0_0.json
/training_files/0_1_1_0_0_1.json
/training_files/0_1_1_0_1_0.json
/training_files/0_1_1_0_1_1.json
/training_files/0_1_1_1_0_0.json
/training_files/0_1_1_1_0_1.json
/training_files/0_1_1_1_1_0.json
/training_files/0_1_1_1_1_1.json
/training_files/0_1_1_2_0_0.json
/training_files/0_1_1_2_0_1.json
/training_files/0_1_1_2_1_0.json
/training_files/0_1_1_2_1_1.json
/training_files/1_0_0_0_0_0.json
/training_files/1_0_0_0_0_1.json
/training_files/1_0_0_0_1_0.json
/training_files/1_0_0_0_1_1.json
/training_files/1_0_0_1_0_0.json
/training_files/1_0_0_1_0_1.json
/training_files/1_0_0_1_1_0.json
/training_files/1_0_0_1_1_1.json
/training_files/1_0_0_2_0_0.json
/training_files/1_0_0_2_0_1.json
/training_files/1_0_0_2_1_0.json
/training_files/1_0_0_2_1_1.json
/training_files/1_0_1_0_0_0.json
/training_files/1_0_1_0_0_1.json
/training_files/1_0_1_0_1_0.json
/training_files/1_0_1_0_1_1.json
/training_files/1_0_1_1_0_0.json
/training_files/1_0_1_1_0_1.json
/training_files/1_0_1_1_1_0.json
/training_files/1_0_1_1_1_1.json
/training_files/1_0_1_2_0_0.json
/training_files/1_0_1_2_0_1.json
/training_files/1_0_1_2_1_0.json
/training_files/1_0_1_2_1_1.json
/training_files/1_1_0_0_0_0.json
/training_files/1_1_0_0_0_1.json
/training_files/1_1_0_0_1_0.json
/training_files/1_1_0_0_1_1.json
/training_files/1_1_0_1_0_0.json
/training_files/1_1_0_1_0_1.json
/training_files/1_1_0_1_1_0.json
/training_files/1_1_0_1_1_1.json
/training_files/1_1_0_2_0_0.json
/training_files/1_1_0_2_0_1.json
/training_files/1_1_0_2_1_0.json
/training_files/1_1_0_2_1_1.json
/training_files/1_1_1_0_0_0.json
/training_files/1_1_1_0_0_1.json
/training_files/1_1_1_0_1_0.json
/training_files/1_1_1_0_1_1.json
/training_files/1_1_1_1_0_0.json
/training_files/1_1_1_1_0_1.json
/training_files/1_1_1_1_1_0.json
/training_files/1_1_1_1_1_1.json
/training_files/1_1_1_2_0_0.json
/training_files/1_1_1_2_0_1.json
/training_files/1_1_1_2_1_0.json
/training_files/1_1_1_2_1_1.json
/training_files/2_0_0_0_0_0.json
/training_files/2_0_0_0_0_1.json
/training_files/2_0_0_0_1_0.json
/training_files/2_0_0_0_1_1.json
/training_files/2_0_0_1_0_0.json
/training_files/2_0_0_1_0_1.json
/training_files/2_0_0_1_1_0.json
/training_files/2_0_0_1_1_1.json
/training_files/2_0_0_2_0_0.json
/training_files/2_0_0_2_0_1.json
/training_files/2_0_0_2_1_0.json
/training_files/2_0_0_2_1_1.json
/training_files/2_0_1_0_0_0.json
/training_files/2_0_1_0_0_1.json
/training_files/2_0_1_0_1_0.json
/training_files/2_0_1_0_1_1.json
/training_files/2_0_1_1_0_0.json
/training_files/2_0_1_1_0_1.json
/training_files/2_0_1_1_1_0.json
/training_files/2_0_1_1_1_1.json
/training_files/2_0_1_2_0_0.json
/training_files/2_0_1_2_0_1.json
/training_files/2_0_1_2_1_0.json
/training_files/2_0_1_2_1_1.json
/training_files/2_1_0_0_0_0.json
/training_files/2_1_0_0_0_1.json
/training_files/2_1_0_0_1_0.json
/training_files/2_1_0_0_1_1.json
/training_files/2_1_0_1_0_0.json
/training_files/2_1_0_1_0_1.json
/training_files/2_1_0_1_1_0.json
/training_files/2_1_0_1_1_1.json
/training_files/2_1_0_2_0_0.json
/training_files/2_1_0_2_0_1.json
/training_files/2_1_0_2_1_0.json
/training_files/2_1_0_2_1_1.json
/training_files/2_1_1_0_0_0.json
/training_files/2_1_1_0_0_1.json
/training_files/2_1_1_0_1_0.json
/training_files/2_1_1_0_1_1.json
/training_files/2_1_1_1_0_0.json
/training_files/2_1_1_1_0_1.json
/training_files/2_1_1_1_1_0.json
/training_files/2_1_1_1_1_1.json
/training_files/2_1_1_2_0_0.json
/training_files/2_1_1_2_0_1.json
/training_files/2_1_1_2_1_0.json
/training_files/2_1_1_2_1_1.json
/training_files_juergen/0_0_0_0_0_0.json
/training_files_juergen/0_0_0_1_0_0.json
/training_files_juergen/0_0_0_2_0_0.json
/training_files_juergen/0_0_1_0_0_0.json
/training_files_juergen/0_0_1_1_0_0.json
/training_files_juergen/0_0_1_2_0_0.json
/training_files_juergen/0_1_0_0_0_0.json
/training_files_juergen/0_1_0_1_0_0.json
/training_files_juergen/0_1_0_2_0_0.json
/training_files_juergen/0_1_1_0_0_0.json
/training_files_juergen/0_1_1_1_0_0.json
/training_files_juergen/0_1_1_2_0_0.json
/training_files_juergen/1_0_0_0_0_0.json
/training_files_juergen/1_0_0_1_0_0.json
/training_files_juergen/1_0_0_2_0_0.json
/training_files_juergen/1_0_1_0_0_0.json
/training_files_juergen/1_0_1_1_0_0.json
/training_files_juergen/1_0_1_2_0_0.json
/training_files_juergen/1_1_0_0_0_0.json
/training_files_juergen/1_1_0_1_0_0.json
/training_files_juergen/1_1_0_2_0_0.json
/training_files_juergen/1_1_1_0_0_0.json
/training_files_juergen/1_1_1_1_0_0.json
/training_files_juergen/1_1_1_2_0_0.json
/training_files_juergen/2_0_0_0_0_0.json
/training_files_juergen/2_0_0_1_0_0.json
/training_files_juergen/2_0_0_2_0_0.json
/training_files_juergen/2_0_1_0_0_0.json
/training_files_juergen/2_0_1_1_0_0.json
/training_files_juergen/2_0_1_2_0_0.json
/training_files_juergen/2_1_0_0_0_0.json
/training_files_juergen/2_1_0_1_0_0.json
/training_files_juergen/2_1_0_2_0_0.json
/training_files_juergen/2_1_1_0_0_0.json
/training_files_juergen/2_1_1_1_0_0.json
/training_files_juergen/2_1_1_2_0_0.json
/training_files_juergen/3_0_0_0_0_0.json
/training_files_juergen/3_0_0_1_0_0.json
/training_files_juergen/3_0_0_2_0_0.json
/training_files_juergen/3_0_1_0_0_0.json
/training_files_juergen/3_0_1_1_0_0.json
/training_files_juergen/3_0_1_2_0_0.json
/training_files_juergen/3_1_0_0_0_0.json
/training_files_juergen/3_1_0_1_0_0.json
/training_files_juergen/3_1_0_2_0_0.json
/training_files_juergen/3_1_1_0_0_0.json
/training_files_juergen/3_1_1_1_0_0.json
/training_files_juergen/3_1_1_2_0_0.json
/training_files_juergen2/1_0_0_0_0_0.json
/training_files_juergen2/1_0_0_1_0_0.json
/training_files_juergen2/1_0_0_2_0_0.json
/training_files_juergen2/1_0_1_0_0_0.json
/training_files_juergen2/1_0_1_1_0_0.json
/training_files_juergen2/1_0_1_2_0_0.json
/training_files_juergen2/1_1_0_0_0_0.json
/training_files_juergen2/1_1_0_1_0_0.json
/training_files_juergen2/1_1_0_2_0_0.json
/training_files_juergen2/1_1_1_0_0_0.json
/training_files_juergen2/1_1_1_1_0_0.json
/training_files_juergen2/1_1_1_2_0_0.json
/output_1.json
/output_13.json
/output_14.json
/output_15.json
/output_16.json
/output_18.json
/output_2.json
/output_20.json
/output_21.json
/output_22.json
/output_24.json
/output_25.json
/output_26.json
/output_28.json
/output_29.json
/output_3.json
/output_30.json
/output_4.json
/java_output_12_0.txt
/java_output_12_1.txt
/java_output_12_2.txt
/java_output_12_3.txt
/output_1000.json
/output_1001.json
/output_1002.json
/output_1003.json
/output_1004.json
/output_1005.json
save_good/
save_medium/
