.idea/
out/
*.iml
*.class
*.jar
/times.txt
/times_j2.txt
/times_juergen.txt
/training_files/0_0_0_0_0_0.json
/training_files/0_0_0_0_0_1.json
/training_files/0_0_0_0_1_0.json
/training_files/0_0_0_0_1_1.json
/training_files/0_0_0_1_0_0.json
/training_files/0_0_0_1_0_1.json
/training_files/0_0_0_1_1_0.json
/training_files/0_0_0_1_1_1.json
/training_files/0_0_0_2_0_0.json
/training_files/0_0_0_2_0_1.json
/training_files/0_0_0_2_1_0.json
/training_files/0_0_0_2_1_1.json
/training_files/0_0_1_0_0_0.json
/training_files/0_0_1_0_0_1.json
/training_files/0_0_1_0_1_0.json
/training_files/0_0_1_0_1_1.json
/training_files/0_0_1_1_0_0.json
/training_files/0_0_1_1_0_1.json
/training_files/0_0_1_1_1_0.json
/training_files/0_0_1_1_1_1.json
/training_files/0_0_1_2_0_0.json
/training_files/0_0_1_2_0_1.json
/training_files/0_0_1_2_1_0.json
/training_files/0_0_1_2_1_1.json
/training_files/0_1_0_0_0_0.json
/training_files/0_1_0_0_0_1.json
/training_files/0_1_0_0_1_0.json
/training_files/0_1_0_0_1_1.json
/training_files/0_1_0_1_0_0.json
/training_files/0_1_0_1_0_1.json
/training_files/0_1_0_1_1_0.json
/training_files/0_1_0_1_1_1.json
/training_files/0_1_0_2_0_0.json
/training_files/0_1_0_2_0_1.json
/training_files/0_1_0_2_1_0.json
/training_files/0_1_0_2_1_1.json
/training_files/0_1_1_0_0_0.json
/training_files/0_1_1_0_0_1.json
/training_files/0_1_1_0_1_0.json
/training_files/0_1_1_0_1_1.json
/training_files/0_1_1_1_0_0.json
/training_files/0_1_1_1_0_1.json
/training_files/0_1_1_1_1_0.json
/training_files/0_1_1_1_1_1.json
/training_files/0_1_1_2_0_0.json
/training_files/0_1_1_2_0_1.json
/training_files/0_1_1_2_1_0.json
/training_files/0_1_1_2_1_1.json
/training_files/1_0_0_0_0_0.json
/training_files/1_0_0_0_0_1.json
/training_files/1_0_0_0_1_0.json
/training_files/1_0_0_0_1_1.json
/training_files/1_0_0_1_0_0.json
/training_files/1_0_0_1_0_1.json
/training_files/1_0_0_1_1_0.json
/training_files/1_0_0_1_1_1.json
/training_files/1_0_0_2_0_0.json
/training_files/1_0_0_2_0_1.json
/training_files/1_0_0_2_1_0.json
/training_files/1_0_0_2_1_1.json
/training_files/1_0_1_0_0_0.json
/training_files/1_0_1_0_0_1.json
/training_files/1_0_1_0_1_0.json
/training_files/1_0_1_0_1_1.json
/training_files/1_0_1_1_0_0.json
/training_files/1_0_1_1_0_1.json
/training_files/1_0_1_1_1_0.json
/training_files/1_0_1_1_1_1.json
/training_files/1_0_1_2_0_0.json
/training_files/1_0_1_2_0_1.json
/training_files/1_0_1_2_1_0.json
/training_files/1_0_1_2_1_1.json
/training_files/1_1_0_0_0_0.json
/training_files/1_1_0_0_0_1.json
/training_files/1_1_0_0_1_0.json
/training_files/1_1_0_0_1_1.json
/training_files/1_1_0_1_0_0.json
/training_files/1_1_0_1_0_1.json
/training_files/1_1_0_1_1_0.json
/training_files/1_1_0_1_1_1.json
/training_files/1_1_0_2_0_0.json
/training_files/1_1_0_2_0_1.json
/training_files/1_1_0_2_1_0.json
/training_files/1_1_0_2_1_1.json
/training_files/1_1_1_0_0_0.json
/training_files/1_1_1_0_0_1.json
/training_files/1_1_1_0_1_0.json
/training_files/1_1_1_0_1_1.json
/training_files/1_1_1_1_0_0.json
/training_files/1_1_1_1_0_1.json
/training_files/1_1_1_1_1_0.json
/training_files/1_1_1_1_1_1.json
/training_files/1_1_1_2_0_0.json
/training_files/1_1_1_2_0_1.json
/training_files/1_1_1_2_1_0.json
/training_files/1_1_1_2_1_1.json
/training_files/2_0_0_0_0_0.json
/training_files/2_0_0_0_0_1.json
/training_files/2_0_0_0_1_0.json
/training_files/2_0_0_0_1_1.json
/training_files/2_0_0_1_0_0.json
/training_files/2_0_0_1_0_1.json
/training_files/2_0_0_1_1_0.json
/training_files/2_0_0_1_1_1.json
/training_files/2_0_0_2_0_0.json
/training_files/2_0_0_2_0_1.json
/training_files/2_0_0_2_1_0.json
/training_files/2_0_0_2_1_1.json
/training_files/2_0_1_0_0_0.json
/training_files/2_0_1_0_0_1.json
/training_files/2_0_1_0_1_0.json
/training_files/2_0_1_0_1_1.json
/training_files/2_0_1_1_0_0.json
/training_files/2_0_1_1_0_1.json
/training_files/2_0_1_1_1_0.json
/training_files/2_0_1_1_1_1.json
/training_files/2_0_1_2_0_0.json
/training_files/2_0_1_2_0_1.json
/training_files/2_0_1_2_1_0.json
/training_files/2_0_1_2_1_1.json
/training_files/2_1_0_0_0_0.json
/training_files/2_1_0_0_0_1.json
/training_files/2_1_0_0_1_0.json
/training_files/2_1_0_0_1_1.json
/training_files/2_1_0_1_0_0.json
/training_files/2_1_0_1_0_1.json
/training_files/2_1_0_1_1_0.json
/training_files/2_1_0_1_1_1.json
/training_files/2_1_0_2_0_0.json
/training_files/2_1_0_2_0_1.json
/training_files/2_1_0_2_1_0.json
/training_files/2_1_0_2_1_1.json
/training_files/2_1_1_0_0_0.json
/training_files/2_1_1_0_0_1.json
/training_files/2_1_1_0_1_0.json
/training_files/2_1_1_0_1_1.json
/training_files/2_1_1_1_0_0.json
/training_files/2_1_1_1_0_1.json
/training_files/2_1_1_1_1_0.json
/training_files/2_1_1_1_1_1.json
/training_files/2_1_1_2_0_0.json
/training_files/2_1_1_2_0_1.json
/training_files/2_1_1_2_1_0.json
/training_files/2_1_1_2_1_1.json
/training_files_juergen/0_0_0_0_0_0.json
/training_files_juergen/0_0_0_1_0_0.json
/training_files_juergen/0_0_0_2_0_0.json
/training_files_juergen/0_0_1_0_0_0.json
/training_files_juergen/0_0_1_1_0_0.json
/training_files_juergen/0_0_1_2_0_0.json
/training_files_juergen/0_1_0_0_0_0.json
/training_files_juergen/0_1_0_1_0_0.json
/training_files_juergen/0_1_0_2_0_0.json
/training_files_juergen/0_1_1_0_0_0.json
/training_files_juergen/0_1_1_1_0_0.json
/training_files_juergen/0_1_1_2_0_0.json
/training_files_juergen/1_0_0_0_0_0.json
/training_files_juergen/1_0_0_1_0_0.json
/training_files_juergen/1_0_0_2_0_0.json
/training_files_juergen/1_0_1_0_0_0.json
/training_files_juergen/1_0_1_1_0_0.json
/training_files_juergen/1_0_1_2_0_0.json
/training_files_juergen/1_1_0_0_0_0.json
/training_files_juergen/1_1_0_1_0_0.json
/training_files_juergen/1_1_0_2_0_0.json
/training_files_juergen/1_1_1_0_0_0.json
/training_files_juergen/1_1_1_1_0_0.json
/training_files_juergen/1_1_1_2_0_0.json
/training_files_juergen/2_0_0_0_0_0.json
/training_files_juergen/2_0_0_1_0_0.json
/training_files_juergen/2_0_0_2_0_0.json
/training_files_juergen/2_0_1_0_0_0.json
/training_files_juergen/2_0_1_1_0_0.json
/training_files_juergen/2_0_1_2_0_0.json
/training_files_juergen/2_1_0_0_0_0.json
/training_files_juergen/2_1_0_1_0_0.json
/training_files_juergen/2_1_0_2_0_0.json
/training_files_juergen/2_1_1_0_0_0.json
/training_files_juergen/2_1_1_1_0_0.json
/training_files_juergen/2_1_1_2_0_0.json
/training_files_juergen/3_0_0_0_0_0.json
/training_files_juergen/3_0_0_1_0_0.json
/training_files_juergen/3_0_0_2_0_0.json
/training_files_juergen/3_0_1_0_0_0.json
/training_files_juergen/3_0_1_1_0_0.json
/training_files_juergen/3_0_1_2_0_0.json
/training_files_juergen/3_1_0_0_0_0.json
/training_files_juergen/3_1_0_1_0_0.json
/training_files_juergen/3_1_0_2_0_0.json
/training_files_juergen/3_1_1_0_0_0.json
/training_files_juergen/3_1_1_1_0_0.json
/training_files_juergen/3_1_1_2_0_0.json
/training_files_juergen2/1_0_0_0_0_0.json
/training_files_juergen2/1_0_0_1_0_0.json
/training_files_juergen2/1_0_0_2_0_0.json
/training_files_juergen2/1_0_1_0_0_0.json
/training_files_juergen2/1_0_1_1_0_0.json
/training_files_juergen2/1_0_1_2_0_0.json
/training_files_juergen2/1_1_0_0_0_0.json
/training_files_juergen2/1_1_0_1_0_0.json
/training_files_juergen2/1_1_0_2_0_0.json
/training_files_juergen2/1_1_1_0_0_0.json
/training_files_juergen2/1_1_1_1_0_0.json
/training_files_juergen2/1_1_1_2_0_0.json
